@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .dep {
    background-color: rgb(240, 23, 23);
  }
  
  .content {
    padding: 16px;
  }